:root {
  --primary-color: #1f2937;
  --secondary-color: #f9faf8;
  --button-color: #3882f6;
  --hero-sec: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto", sans-serif;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--primary-color);
}

.logo {
  color: var(--secondary-color);
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

a {
  color: var(--hero-sec);
  text-decoration: none;
}
nav ul li {
  margin: 0 12px;
}

.hero {
  padding-top: 52px;
  padding-bottom: 80px;
  background-color: var(--primary-color);
  max-width: 100%;
}

.width {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  gap: 2rem;
}

.side1 h2 {
  font-size: 48px;
  color: var(--secondary-color);
  font-weight: 900;
}

.side1 p {
  font-size: 18px;
  color: var(--hero-sec);
  padding: 24px 0;
}

.side1 button {
  background-color: var(--button-color);
  color: var(--secondary-color);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.about-section {
  background-color: var(--secondary-color);
}

.header {
  font-size: 36px;
  color: var(--primary-color);
  font-weight: 900;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.infos {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 52px;
}

.info {
  width: 180px;
  justify-self: center;
}

.info p {
  text-align: center;
}

.quote {
  background-color: var(--hero-sec);
  padding: 24px;
  font-size: 18px;
}
.quote-div {
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.quote-div h3 {
  margin: 0 auto;
  font-weight: 200;
  font-style: italic;
  font-size: 36px;
}

.quote-div h4 {
  align-self: flex-end;
}

.width-cta {
  display: flex;
  justify-content: space-around;
  background-color: var(--button-color);
  margin: 52px 120px;
  height: 100px;
  align-items: center;
  color: var(--secondary-color);
  border-radius: 8px;
}

.btn {
  background-color: var(--button-color);
  color: var(--secondary-color);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  padding: 24px;
  color: var(--secondary-color);
  text-align: center;
}
